<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home Control</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet" type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}" type="preRenderView"></f:event>
	</f:metadata>
	<style>
		body{overflow: hidden
	}
	.contenedorControl{
	background:url("http://www.ficaconsulting.com.do/cw/images/fica/art/20180223.png");
	background-size:cover;
	margin-top:-70px;
	}
	</style>
</h:head>

<body>
<p:growl>
	<p:autoUpdate />
</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg" style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="/menu?faces-redirect=true" styleClass="linkBack"/>
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></p>
				</div>

				<ul>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="controlStock"><i class="fa fa-users"></i> <h:outputText value="Control Stock"/></h:commandLink></a>
						</h:form>
					</div>
					
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="controlPrecio"><i class="fa fa-users"></i> <h:outputText value="Control de Precio"/></h:commandLink></a>
						</h:form>
					</div>
					
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="factura"><i class="fa fa-users"></i> <h:outputText value="Control Stock 2"/></h:commandLink></a>
						</h:form>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión" action="#{beanSegLogin.actionCerrarSesion()}" styleClass="loginClose"/>
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg" style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b> <span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span> <span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->
	<div id="contenedorx" class="contenedor contenedorControl">
	

	</div>
	

	
	
	<script>
    let modalPerfil = document.getElementById("perfil");
    let modalCreate = document.querySelectorAll(".createFactura")[0];
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
  
        }
    			
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
	
</body>
</html>


