<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>New Client</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>

	<style>
:root { -
	-colorTextos: #49454567;
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	text-align: center;
	margin: 10px 0;
	font-weight: 800;
}

.formulario {
	width: 40%;
	position: relative;
	top: -20px;
	padding: 10px 0;
	border-radius: 10px;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	display: block;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.form {
	width: 100%;
	margin: auto;
}

form .grupo {
	position: relative;
	margin: 35px;
}

.input {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(- -colorTextos);
	resize: none;
}

.input:focus {
	outline: none;
	color: rgb(94, 93, 93);
}

.input:focus ~label, .input:valid ~label {
	position: absolute;
	top: -14px;
	font-size: 14px;
	color: #2196F3;
}

.label {
	color: var(- -colorTextos);
	font-size: 18px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease all;
	pointer-events: none;
}

.input:focus ~.barra::before {
	width: 100%;
}

.barra {
	position: relative;
	display: block;
	width: 100%;
}

.barra::before {
	content: '';
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: green;
	transition: 0.3s ease all;
	left: 0%;
}

.btn {
	background-color: #348ac6;
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
	margin: 10px auto;
	cursor: pointer;
	letter-spacing: 2px;
	transition0
	.3s;
}

.btn:hover {
	background-color: #4e99cc;
}

/* ==============================Listar Clientes ===============*/
.sectionActualizar {
	position: absolute;
	width: 380px;
	height: 400px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	bordr-radius: 6px;
	margin: -220px 0 0 550px;
}

.sectionActualizar .btnUpdateClient {
	display: block;
	margin: auto;
	margin-top: 10px;
}

.modalActualizarCliente {
	margin-left: -280px;
	margin-right: 80px;
}
</style>
</h:head>

<body>
	<p:growl>
			<p:autoUpdate />
		</p:growl>
	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack" />
					</h:form>
				</span>
			</div>


			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
					<div class="item">
						<a id="identificador1" class="sub-btn"> <i class="fa fa-user"
							aria-hidden="true"></i><span>Nuevo Cliente</span></a>
					</div>
					<div class="item">
						<a id="identificador2" class="sub-btn"> <i class="fa fa-users"></i><span>Ver
								Clientes</span></a>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->

	<div id="contenedorx" class="contenedor">
	
		<h:form action="" styleClass="formulario" id="form">
			<div class="form">
				<h3>Nuevo Cliente</h3>
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.identificacion}" validatorMessage="Invalid format to to cédula" requiredMessage="Ingrese la cédula" styleClass="input" required="true" >
							<f:validateRegex pattern="^\d+$" />
					</h:inputText>
					<span class="barra"></span> <label>Cédula</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.nombre}" 	requiredMessage="Ingrese los nombres"  validatorMessage="Invalid format to name" styleClass="input" required="true">
							<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</h:inputText>
					<span class="barra"></span> <label>Nombre</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.apellido}" requiredMessage="Ingrese los apellidos"  validatorMessage="Invalid format to name" styleClass="input" required="true">
							<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</h:inputText>
					<span class="barra"></span> <label>Apellidos</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.ciudad}" requiredMessage="Ingrese los cuidad"  validatorMessage="Invalid format to name" styleClass="input" required="true">
							<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</h:inputText>
					<span class="barra"></span> <label>Ciudad</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.correo}" validatorMessage="Invalid format to email" requiredMessage="Ingrese el correo" style="border:none" styleClass="input" required="true" >
						<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</h:inputText>
					<span class="barra"></span> <label>Email</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.direccion}" styleClass="input" required="true" requiredMessage="Ingrese la dirección" />
					<span class="barra"></span> <label>Dirección</label>
				</div>
				
				<div class="grupo">
					<h:inputText value="#{beanKymsVentas.nuevoCliente.telefono}" requiredMessage="Ingrese el teléfono" validatorMessage="Invalid format to telephone" style="border:none" styleClass="input" required="true">
							<f:validateRegex pattern="^\d+$" />
					</h:inputText>
					<span class="barra"></span> <label>Teléfono</label>
				</div>

				<h:commandButton value="Guardar" actionListener="#{beanKymsVentas.actionListenerInsertarCliente()}" styleClass="btn" update="@form, :tablaClientes"/>
			</div>
		</h:form>
	</div>

	<div id="contenedory" class="contenedor">
		<p:panel>
			<h:form id="tablaClientes">
				<p:dataTable value="#{beanKymsVentas.listaClientes}" var="c"
					rowIndexVar="row" emptyMessage="No hay clienes disponibles">
					<p:column headerText="IDENTIFICACIÓN">
						<h:outputText value="#{c.identificacion}" />
					</p:column>
					<p:column headerText="NOMBRE">
						<h:outputText value="#{c.nombre}" />
					</p:column>
					<p:column headerText="TELÉFONO">
						<h:outputText value="#{c.telefono}" />
					</p:column>
					<p:column headerText="DIRECCIÓN">
						<h:outputText value="#{c.direccion}" />
					</p:column>
					<p:column headerText="CORREO">
						<h:outputText value="#{c.correo}" />
					</p:column>
					<p:column headerText="OPCIONES">
						<p:commandButton icon="pi pi-times" title="Eliminar"
							update="@form" styleClass="ui-button-danger"
							style="margin-right:10px">
							<f:ajax event="click" render="tablaClientes"
								listener="#{beanKymsVentas.actionListenerEliminarCliente(c)}" />
							<p:confirm header="Confirmación"
								message="¿Desea eliminar el cliente?" icon="pi pi-info-circle" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							responsive="true" width="350">
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no ui-button-flat" />
							<p:commandButton value="Sí" type="button"
								styleClass="ui-confirmdialog-yes" />
						</p:confirmDialog>

						<p:commandButton id="cmdActualizarCliente" title="Editar"
							actionListener="#{beanKymsVentas.actionSelectClient(c)}"
							update="@form" icon="pi pi-user-edit" />
						<p:overlayPanel for="cmdActualizarCliente" dynamic="true"
							styleClass="modalActualizarCliente" showCloseIcon="true">
							<p:panel header="Actualizar Cliente" style="text-align:center;">
								<p:panelGrid columns="2">
									<h:outputText value="Identificacion:" />
									<h:outputText value="#{beanKymsVentas.editarCliente.identificacion}" style="width:100%" />
									<h:outputText value="Nombres:" />
									<h:outputText value="#{beanKymsVentas.editarCliente.nombre}" style="width:100%" />
									<h:outputText value="Teléfono:" />
									<p:inputText value="#{beanKymsVentas.editarCliente.telefono}" validatorMessage="Invalid format to telephone" style="width:100%" >
										<f:validateRegex pattern="^\d+$" />
									</p:inputText>
									<h:outputText value="Dirección:" />
									<p:inputText value="#{beanKymsVentas.editarCliente.direccion}" style="width:100%" />
									<h:outputText value="Correo:" />
									<p:inputText value="#{beanKymsVentas.editarCliente.correo}" validatorMessage="Invalid format to email" style="width:100%" >
										<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
									</p:inputText>
								</p:panelGrid>
								<p:commandButton value="Actualizar"
									actionListener="#{beanKymsVentas.actionListenerActualizarCliente()}"
									update="tablaClientes" style="margin-top:15px;" />
							</p:panel>
						</p:overlayPanel>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</div>


	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
        document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";

        }
    
	/*========contenedores=========*/
	document.getElementById("identificador1").addEventListener("click",function(){
		  document.getElementById("contenedorx").style.display = "block";
	      document.getElementById("contenedory").style.display = "none";
	});

	document.getElementById("identificador2").addEventListener("click",function(){
		  document.getElementById("contenedorx").style.display = "none";
	      document.getElementById("contenedory").style.display = "block";
	});
	
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
</body>
</html>


