<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home Ventas</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet" type="text/css" />
	

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}" type="preRenderView"></f:event>
	</f:metadata>
</h:head>
	<style>
		*,
	::before,
	::after {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	}
		body{
			overflow: hidden
		}
		.contenedorVentas{
		background:url("https://www.lideco.com/lideco/images/newsletter/Abril2017/NSL6_Factura_Titulo_Ejecutivo_Slider.jpg");
		background-size:cover;
		margin-top:-70px;
		}
	</style>
<body>
<p:growl>
	<p:autoUpdate />
</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg" style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="/menu?faces-redirect=true" styleClass="linkBack"/>
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></p>
				</div>

				<ul>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="#{beanKymsVentas.Proforma()}"><i class="fa fa-users"></i> <h:outputText value="Proforma"/></h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="#{beanKymsVentas.Facturacion()}"><i class="fa fa-users"></i> <h:outputText value="Facturación"/></h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink  action="cliente"><i class="fa fa-users"></i> <h:outputText value="Cliente"/></h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<a id="identificador3" class="sub-btn"> <i class="fa fa-suitcase"></i><span>Devoluciones</span></a>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión" action="#{beanSegLogin.actionCerrarSesion()}" styleClass="loginClose"/>
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg" style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b> <span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span> <span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->
	<div id="contenedorx" class="contenedor contenedorVentas">
	
	</div>
	
	<div id="contenedorz" class="contenedor">
			<div class="tablaListar" >
             <h2 style="position:absolute; margin:-60px 0 0 250px"> Lista de Facturas que podría ser devueltos</h2>
				<h:form id="facturasPoraDevolver">
						<p:dataTable value="#{beanKymsVentas.listaFacturasParaDevolver}" var="fac" rowIndexVar="row" emptyMessage="No hay facturas que mostrar">
							<p:column headerText="Nº DE FACTURA">
								<h:outputText value="#{fac.idVenta}" />
							</p:column>
							<p:column headerText="FECHA">
								<h:outputText value="#{fac.fecha}" />
							</p:column>
							<p:column headerText="CLIENTE" >
								<h:outputText value="#{fac.cliente.nombre}" />
							</p:column>
							<p:column headerText="ESTADO" >
						        <h:outputText value="#{fac.estadoVenta}" />
					        </p:column>
							<p:column headerText="TOTAL" >
								<h:outputText value="#{fac.total}" />
							</p:column>
							<p:column headerText="OPCIONES"  >
								<p:commandButton value="Devolución" update="@form" action="#{beanKymsVentas.actionSelectFacturaDevolucion(fac)}"/>
							</p:column>
						</p:dataTable>
					</h:form>
	     </div>
	   </div>




	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
	    document.getElementById("contenedorz").style.display = "none";

    }
    
    //==========CONTENEDORES =================
		document.getElementById("identificador3").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedorz").style.display = "block";
		}, null);	
					
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
	
</body>
</html>


