<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Proforma</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>

	<f:facet name="first">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</f:facet>
</h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack" />
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
					<div class="item">
						<a id="identificador1" class="sub-btn"> <i
							class="fa fa-floppy-o" aria-hidden="true"></i><span>Registrar
								Proforma</span></a>
					</div>
					<div class="item">
						<a id="identificador2" class="sub-btn"> <i
							class="fa fa-file-text-o"></i><span>Ver Proformas</span></a>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->
	<div id="contenedorx" class="contenedor">
		<span class="numFactura"><b>Num Proforma :</b> <h:outputText
				value="  #{beanKymsVentas.numProforma}" /></span>

		<h:commandButton value="+" styleClass="addCliente" type="button"
			onclick="PF('dlg2').show();" />
		<p:dialog header="Nuevo Cliente" widgetVar="dlg2" modal="true"
			height="430" width="450">
			<h:form styleClass="formCliente">
				<span>
					<p>Identificación</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.identificacion}"
						validatorMessage="Invalid format to to cédula"
						requiredMessage="Ingrese la cédula" required="true">
						<f:validateRegex pattern="^\d+$" />
					</p:inputText>
				</span>
				<span>
					<p>Nombre</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.nombre}"
						requiredMessage="Ingrese el nombre"
						validatorMessage="Invalid format to name" required="true">
						<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</p:inputText>
				</span>
				<span>
					<p>Apellido</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.apellido}"
						requiredMessage="Ingrese el apellido"
						validatorMessage="Invalid format to apellido" required="true">
						<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</p:inputText>
				</span>
				<span>
					<p>Ciudad</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.ciudad}"
						requiredMessage="Ingrese la ciudad "
						validatorMessage="Invalid format to ciudad" required="true">
						<f:validateRegex pattern="[a-zA-Z ]{2,254}" />
					</p:inputText>
				</span>
				<span>
					<p>Dirección</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.direccion}" required="true"
						requiredMessage="Ingrese la dirección" />
				</span>
				<span>
					<p>Teléfono</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.telefono}"
						requiredMessage="Ingrese el teléfono"
						validatorMessage="Invalid format to telephone" required="true">
						<f:validateRegex pattern="^\d+$" />
					</p:inputText>
				</span>
				<span>
					<p>Correo</p> <p:inputText
						value="#{beanKymsVentas.nuevoCliente.correo}"
						validatorMessage="Invalid format to email"
						requiredMessage="Ingrese el correo" required="true">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
				</span>

				<h:commandButton value="Guardar"
					actionListener="#{beanKymsVentas.actionListenerInsertarCliente()}"
					styleClass="btnGuardarCliente" update="@form" />
			</h:form>
		</p:dialog>

		<article class="headerFactura"> <h:form>
			<section class="cliente">
			<div class="buscarCliente">
				<label class="labelF1">Cliente</label>
				<p:autoComplete id="dd" dropdown="true"
					value="#{beanKymsVentas.identificacionCliente}"
					completeMethod="#{beanKymsVentas.completeTextCliente}"
					scrollHeight="250" style="width:300px">
					<f:ajax event="change" execute="dd" render="client"
						listener="#{beanKymsVentas.obtenerInformacionCliente}" />
				</p:autoComplete>
			</div>


			<h:outputLabel class="informacionCliente" id="client">
				<article> <span><b>Identifición:</b> <h:outputText
						value=" #{beanKymsVentas.informacionCliente.identificacion}" /></span> <span><b>Nombre:</b>
					<h:outputText
						value=" #{beanKymsVentas.informacionCliente.nombre} #{beanKymsVentas.informacionCliente.apellido}" /></span>
				</article>

				<article> <span><b>Teléfono:</b> <h:outputText
						value=" #{beanKymsVentas.informacionCliente.telefono}" /></span> <span><b>Ciudad:</b>
					<h:outputText value=" #{beanKymsVentas.informacionCliente.ciudad}" /></span>
				</article>

				<article> <span><b>Dirección:</b> <h:outputText
						value=" #{beanKymsVentas.informacionCliente.direccion}" /></span> <span><b>Correo:</b>
					<h:outputText value=" #{beanKymsVentas.informacionCliente.correo}" /></span>
				</article>
			</h:outputLabel> </section>

			<section class="pagos"> <article>
			<div>
				<label class="labelF1" style="display: block;">Fecha de
					Vencimiento</label>
				<p:calendar required="true"
					value="#{beanKymsVentas.fechaVencimientoProforma}" />
			</div>
			</article> <article>
			<div class="grupo">
				<h:inputText value="#{beanKymsVentas.descuentoFactura}"
					requiredMessage="Descuento a la factura"
					validatorMessage="Invalid format Decimal" styleClass="input"
					required="true">
					<f:validateRegex pattern="^[0-9]+([.][0-9]+)?$" />
				</h:inputText>
				<p>%</p>
				<span class="barra"></span> <label class="labelF1"
					style="color: #000; font-size: 15px">Porcentaje de
					descuento</label>
			</div>
			</article> <article> <h:commandButton value="Registrar Proforma"
				actionListener="#{beanKymsVentas.actionListenerRegistrarProfroma()}"
				update="@form, :form1, :form3,:tablaProductos,:totales"
				styleClass="btnRegistrarFactura" /> </article> </section>
		</h:form> <h:form id="totales" styleClass="totales">
			<span><b>Sutotal:</b> <h:outputText
					value=" #{beanKymsVentas.subtotalFactura}" /></span>
			<span><b>Iva:</b> <h:outputText
					value=" #{beanKymsVentas.IVAFactura}" /></span>
			<span><b style="color: red;">Total:</b> <h:outputText
					value=" #{beanKymsVentas.totalFactura}" /></span>
		</h:form> <section class="detalle">
		<p>Seleccione los productos</p>
		<h:form styleClass="FormularioDetalle" style="background-color:white;"
			id="formInserDetalle">
			<div class="form">
				<div class="grupo">
					<label class="labelF1">Buscar un Producto</label>
					<p:autoComplete id="ddProducto" dropdown="true"
						value="#{beanKymsVentas.descripcionProducto}"
						completeMethod="#{beanKymsVentas.completeTextProducto}"
						scrollHeight="250" style="width:400px">
						<f:ajax event="change" render="mostrarStock" execute="ddProducto"
							listener="#{beanKymsVentas.MostrarStock}" />
					</p:autoComplete>

				</div>

				<div class="grupo">
					<span style="display: flex"> <label class="labelF1">Stock
							actual : </label> <h:outputText id="mostrarStock"
							style="margin-left:10%; color=#000"
							value="#{beanKymsVentas.mostrarStock}" />
					</span>
				</div>

				<div class="grupo">
					<label class="labelF1">Cantidad</label>
					<p:spinner value="#{beanKymsVentas.cantidadDetProforma}"
						required="true"
						requiredMessage="Ingrese la cantidad de de producto" min="1" />
				</div>

				<div class="btnAdicionarProducto">
					<p:commandButton value="Adicionar"
						actionListener="#{beanKymsVentas.actionListenerAdicionarProductoProforma}"
						update="@form, :tablaProductos, :totales" />
				</div>
			</div>
		</h:form> <h:form id="tablaProductos" styleClass="ListaDetalles">
			<p:dataTable value="#{beanKymsVentas.proforma.detalleProformas}"
				var="det" rowIndexVar="row" emptyMessage="Agregue los productos">
				<p:column headerText="PRODUCTO">
					<h:outputText value="#{det.producto.descripcion}" />
				</p:column>
				<p:column headerText="CANTIDAD">
					<h:outputText value="#{det.cantidad}" />
				</p:column>
				<p:column headerText="PRECIO">
					<h:outputText value="#{det.producto.precio}" />
				</p:column>
				<p:column headerText="TOTAL">
					<h:outputText value="#{det.precio}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-times" title="Eliminar"
						actionListener="#{beanKymsVentas.actionListenerEliminarDetalleProforma(row)}"
						update="@form,:totales, :formInserDetalle" id="btnEliminar"
						styleClass="ui-button-danger">
						<p:confirm header="Confirmación"
							message="¿Desea eliminar el producto?" icon="pi pi-info-circle" />
					</p:commandButton>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
						responsive="true" width="350">
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no ui-button-flat" />
						<p:commandButton value="Sí" type="button"
							styleClass="ui-confirmdialog-yes" />
					</p:confirmDialog>
				</p:column>
			</p:dataTable>
		</h:form> </section> </article>





	</div>


	<div id="contenedory" class="contenedor">
		<article class="menuListaFacturas">
		<ul>
			<li id="lista1">Todas las proformas</li>
			<li id="lista3">Proformas por Fechas</li>
		</ul>
		</article>

		<div class="tablaListar" id="facturasTodas">
			<h:form id="form1">
				<p:dataTable value="#{beanKymsVentas.listaProformas}" var="pro"
					rowIndexVar="row" emptyMessage="No hay proformas que mostrar">
					<p:column headerText="Nº DE PROFORMA" responsivePriority="1">
						<h:outputText value="#{pro.numProforma}" />
					</p:column>
					<p:column headerText="FECHA" responsivePriority="3">
						<h:outputText value="#{pro.fecha}" />
					</p:column>

					<p:column headerText="TOTAL" responsivePriority="2">
						<h:outputText value="#{pro.total}" />
					</p:column>
					<p:column headerText="OPCIONES" style="width:270px"
						responsivePriority="3">
						<p:commandButton value="ANULAR" update="@form"
							style="width:86px; font-size:14px; margin-right:10px;text-align:left;">
							<f:ajax event="click" render="form1"
								listener="#{beanKymsVentas.actionListenerAnularProforma(pro)}" />
							<p:confirm header="Confirmación"
								message="¿Desea eliminar el producto?" icon="pi pi-info-circle" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							responsive="true" width="350">
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no ui-button-flat" />
							<p:commandButton value="Sí" type="button"
								styleClass="ui-confirmdialog-yes" />
						</p:confirmDialog>
						<h:commandButton value="FACTURAR" update="@form"
							action="#{beanKymsVentas.actionCargarProformaParaFacturar(pro)}"
							styleClass="btnVerFactura"
							style="margin-right:10px;width:80px; background-color: #cb2a56 " />
						<h:commandButton value="VER" update="@form"
							action="#{beanKymsVentas.actionCargarProforma(pro)}"
							styleClass="btnVerFactura" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<div class="tablaListar" id="facturasPorFechas">
			<h:form styleClass="selectFacturaFechas" style="padding:20px;">
				<label class="labelF1" style="color: #2196F3; margin: 20px 20px;">Fecha
					Inicio</label>
				<p:calendar required="true" value="#{beanKymsVentas.fechaInicio}" />
				<label class="labelF1" style="color: #2196F3; margin: 20px 20px;">Fecha
					Fin</label>
				<p:calendar required="true" value="#{beanKymsVentas.fechaFin}" />
				<p:commandButton value="Buscar" style="margin:0 30px;"
					id="btnCalendar">
					<f:ajax event="click" render="form3" execute="btnCalendar"
						listener="#{beanKymsVentas.actionListarProformasByFechas}" />
				</p:commandButton>

			</h:form>

			<h:form id="form3">
				<p:dataTable value="#{beanKymsVentas.listaProformasPorFecha}"
					var="pro" rowIndexVar="row"
					emptyMessage="No hay proformas que mostrar">
					<p:column headerText="Nº DE PROFORMA">
						<h:outputText value="#{pro.numProforma}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{pro.fecha}" />
					</p:column>
					<p:column headerText="TOTAL">
						<h:outputText value="#{pro.total}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

	</div>



	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";

	    //Lista de proformas
	    document.getElementById("facturasTodas").style.display = "block";
	    document.getElementById("facturasPorFechas").style.display = "none";
        }
    


    //==========CONTENEDORES =================
		document.getElementById("identificador1").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "block";
		    document.getElementById("contenedory").style.display = "none";
		}, null);

		document.getElementById("identificador2").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedory").style.display = "block";
		}, null);	

					
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});

		//================= LISTA DE FACTURAS ===============
		document.getElementById("lista1").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "block";
		    document.getElementById("facturasPorFechas").style.display = "none";
		});	
		document.getElementById("lista3").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "block";
		});	
		
	</script>

</body>
</html>


