<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Devolución</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />


	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/81d408a6bf.js"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>
</h:head>
<body>
	<p:growl>
			<p:autoUpdate />
		</p:growl>
	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack"/>
					</h:form>
				</span>
			</div>


			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión" action="#{beanSegLogin.actionCerrarSesion()}" styleClass="loginClose"/>
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b> <span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span> <span>0985601235</span>
				</div>
			</div>

		</div>
	</div>
	

	<!-- CONTENEDORES -->
	<div id="contenedor" class="contenedor"  style="margin-left:200px;">
	<section class="headerDevolucionContent">
		<article>
			<div class="item1">
			    <h2 style="font-size: 16px;margin-left:20px;">Cliente</h2>
				<span><b>Nombre :</b><h:outputText value="  #{beanKymsVentas.facturaDevolucion.cliente.nombre}" /></span> 
				<span><b>Cédula :</b> <h:outputText value="  #{beanKymsVentas.facturaDevolucion.cliente.identificacion}" /></span> 
			    <span><b>Dirección :</b><h:outputText value="  #{beanKymsVentas.facturaDevolucion.cliente.direccion}" /></span>
				<span><b>Teléfono :</b><h:outputText value="  #{beanKymsVentas.facturaDevolucion.cliente.telefono}" /></span>
			</div>
			<div class="item2">
				<h2 style="font-size: 16px;margin-left:20px;">Factura</h2>
				<span><b>Fecha :</b><h:outputText value="  #{beanKymsVentas.facturaDevolucion.fecha}" /></span>
				<span><b>Nro Factura :</b><h:outputText value="  #{beanKymsVentas.facturaDevolucion.numFactura}" /></span>
			</div>
		</article>
		<article>
			<h:form styleClass="formRegistrarDevolucion">
			   <p:inputTextarea rows="6" cols="33" value="#{beanKymsVentas.descripcionDevolucion}" placeholder="Ingresa el motivo de la devolucion" />
			   <p:commandButton value="Guardar" action="#{beanKymsVentas.actionListenerRegistrarDevolucion()}" styleClass="btnGuardarDevolucion" update="@form"/>
			 
                    	<div class="radioButtom">
							<p:selectOneRadio value="#{beanKymsVentas.devolverTodo}" style="text-align:center;" id="radioButtom">
							       <f:selectItem itemLabel="TODO" itemValue="true"/>
						           <f:selectItem itemLabel="ALGUNOS" itemValue="false"/>
						           <f:ajax event="click" render="formDevolver" execute="radioButtom"/>
							</p:selectOneRadio>
						</div>
			</h:form>
		</article>
	</section>
	<h3 style="position:absolute;font-size:16px;margin:25px 0 0 250px;color:  #ca0c06  ">Deseas devolver  >></h3>

	<article class="contenedorDevoluciones">
	 <div class="modeloFacturaDevolucion">
			<article class="F4" style="margin-top:20px;">
				<div class="container-table" style="width:700px">
					<h:form id="formDevolver">
						<p:dataTable value="#{beanKymsVentas.facturaDevolucion.detalleVentas}" var="dt">
							<p:column headerText="PRODUCTO">
								<h:outputText value="#{dt.producto.descripcion}" />
							</p:column>	
							<p:column headerText="CANTIDAD A DEVOLVER">
								<p:inputText value="#{dt.cantidad}" style="width:100%" disabled="#{beanKymsVentas.devolverTodo}"/>
							</p:column>	
							<p:column headerText="TOTAL">
								<h:outputText value="#{dt.precio}" />
							</p:column>	
							<p:column headerText="DEVOLVER">
							 	  <p:commandButton value="Devolver" actionListener="#{beanKymsVentas.actionAdicionarDetalleDevolucion(dt)}" update="@form" disabled="#{beanKymsVentas.devolverTodo}" />
							</p:column>
						</p:dataTable>
					</h:form>
			
				</div>
			
			</article>
		</div>
	</article>	
	</div>

	



	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
        document.getElementById("contenedor").style.display = "block";
        }
    
				
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
</body>
</html>


