@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+3:wght@200&display=swap');
body{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #fff;
    overflow-x:hidden;
    font-family:'Poppins', sans-serif;
}
.manager{
	width:100%;
	height:50px;	
	display:flex;
    justify-content:flex-end;
    position:fixed;
    z-index:1;
    cursor:pointer;
 
}
.manager div{
	width:50px;
	height:50px;
	background-color: #cac6c3 ;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.manager img{
	widt:40px;
	height:40px;
	margin-right:10px;
	display:block;
	margin:auto;
}

/*perfil*/
.perfil-content{
	width:100%;
	height:250px;
	display:flex;
	justify-content:flex-end;
	position:relative;	
}
#perfil{
	background-color:white;
	margin-top:50px;
	width:330px;
	height:160px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	font-size:14px;
	position:fixed;
	z-index:1;
	background-color: white;
	display:none;
}

#perfil .perfil-superior{
	width:100%;
	height:50px;
	display:flex;
	justify-content:space-around;
	align-items:center;

}
#perfil .perfil-superior div{
    width:50%;
    text-align:center;
    padding:10px;
}
#perfil .perfil-superior #close:hover{
   background-color:#F0EEEE;
   cursor:pointer;
}
#perfil .perfil-inferior{
	width:100%;
	height:110px;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
#perfil .perfil-inferior img{
	width:100px;
	height:100px;
}
#perfil .perfil-inferior .datos{
display:flex;
flex-direction:column;
justify-content:space-between;
}
#perfil .perfil-inferior .datos span{
margin-top:4px;
}

.loginClose{
		text-decoration: none;
		color: black;
		transition:.1s;
		font-size:14px;
}




/*sidebar*/
.regresar{
	width:70px;
	height:20px;
	display:flex;
	justify-content:space-around;
	align-items:baseline;
	padding:3px;
}
.regresar i{
color:white;
}
.linkBack{
	text-decoration: none;
	margin:10px 0 0 15px;
	color: #fff;
	transition:.1s;
	font-size:14px;
}

.wrapper .sidebar{
    position:fixed;
    z-index: 1;
    background-color:  #1d475f  ;
    top:0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: width;
    overflow: auto;
}

.wrapper .sidebar .sidebar-menu .profile{
    padding-top:20px;   
}
.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-color:transparent;
}
.wrapper .sidebar .sidebar-menu .profile p{
    color :#bbb; 
    margin:0;
    text-align: center;
    padding-top:15px; 
    font-size:14px; 
}
.wrapper .sidebar .sidebar-menu ul{
    list-style: none;
    margin-top:15px; 
}
.wrapper .sidebar .sidebar-menu ul div{
    line-height: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    margin-left: 0px;
    font-family: 'Russo One', sans-serif;
    cursor:pointer;
}
.wrapper .sidebar .sidebar-menu ul div a{
    position: relative;
    color:aliceblue;
    text-decoration: none;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
    display:flex;
    width: 100%;
    border-left: 3px solid transparent;
    transition: 0.5s;
    
}
.wrapper .sidebar .sidebar-menu ul div a:hover{
    color:cyan;
    background-color: #246066;
    border-left-color:cyan ;
}

.wrapper .sidebar .sidebar-menu ul div a i{
    padding-right: 20px;
    margin-top:15px;
    font-size:20px;
    color:white;
}
/*GENERAL*/
.contenedor{
    width: 85.5%;
    position:relative;
    top:-180px;
    margin-left: 250px;
    padding: 15px;
    height: 100vh;
    transition: 0.5s;
}

