<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
	<link rel="stylesheet" href="./public/css/login.css"></link>
</h:head>
<body>
	<div align="center">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<div class="container">
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<div class="fadeIn first">
					<img src="http://alt72.com.ar/wp-content/uploads/2014/09/login.png"
						id="icon" alt="User Icon" />
				</div>

				<h:form>
					<p:growl>
						<p:autoUpdate />
					</p:growl>
					<div class="formulario">
						<div><p:inputText value="#{beanSegLogin.correo}" /></div>
						<div><p:password value="#{beanSegLogin.clave}" /></div>
						<div><p:commandButton value="Login" action="#{beanSegLogin.actionLogin()}" /></div>
					</div>
				</h:form>

				<div id="formFooter">
					<a class="underlineHover" href="#" id="inicializar">Inicializar Datos</a>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div class="modal-inicializar" title="close" id="modal-inicializar">
		<div>
			<h:form>
				<p:commandButton value="Inicializar" actionListener="#{beanSegLogin.actionListenerInicialiarDemo()}">
					<p:confirm type="popup" header="Confirmation"
									message="Desea inicializar datos?"
									icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</h:form>
		</div>
	</div>
	
	<p:confirmPopup global="true">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirm-popup-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirm-popup-yes" />
	</p:confirmPopup>
	
		<script>
		    let modal = document.getElementById("modal-inicializar");

			document.getElementById("inicializar").addEventListener("click",function(){
			    if(modal.title=="close"){
			    	  modal.style.display="block";
			          modal.title="open";
			     }else{
			        modal.style.display="none";
			        modal.title="close";
			     }
			
			});
    </script>
</body>
</html>
