<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Menu principal</title>
	<link href="./public/css/home.css" rel="stylesheet" type="text/css" />
</h:head>

<body>
	<article class="banner">
	<div class="banner-context">
		<h1>Bienvenidos a la Ferretería KYM'S</h1>
		<a href="#"> Ver artículos </a>
	</div>
	</article>

	<div class="modules">
		<c:forEach items="${beanSegLogin.loginDTO.listaPerfiles}" var="perfil">
			<div class="module">
				<img src="../public/img/inventario.jpg" alt="vacio" />
				<p>Ingresa a nuestro</p>
				<p>sistema</p>
				<h:outputText value="#{perfil.segModulo.nombreModulo}" />
				<h:form>
					<h:commandLink value="Ingresar"
						action="#{beanSegLogin.actionMenu(perfil.rutaAcceso)}"
						style="
						text-decoration: none;
						color: #fff;
						padding: 7px 20px;
						border: 1px solid #fff; 
						text-transform : uppercase;
						transition:.1s;
				" />
				</h:form>
			</div>
		</c:forEach>
	</div>

	<script>
    let modal = document.getElementById("perfil");
    
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modal.title=="close"){
		    	  modal.style.display="block";
		          modal.title="open";
		     }else{
		        modal.style.display="none";
		        modal.title="close";
		     }
		});
	</script>
</body>
</html>
