@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+3:wght@200&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family:'Poppins', sans-serif;
}
.banner {
	margin: 0;
	padding: 0;
	postition: relative;
	width: 100%;
	height: 60vh;
	background-color: rgb(0, 255, 0);
	background-size: cover;
	background-position: center;
	transition: all .1s ease-in-out;
	background-image: url('../img/fondo1.jpg');
	animation:banner 25s infinite linear;
}

.banner-context {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: rgb(0, 128, 192);
	background-color: rgb(128, 0, 255);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-context h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	font-size: 40px;
	text-align: center;
}

.banner-context a {
	text-decoration: none;
	color: rgb(255, 0, 0);
	padding: 9px 20px;
	border: 1px solid #fff; 
	text-transform : uppercase;
	transition:.1s;
}

.banner-context a:hover {
	background-color: #fff;
	color: rgb(255, 128, 255);
}

@keyframes banner{

0%{
	background-image: url('../img/fondo1.jpg');
}

20%{
	background-image: url('../img/fondo1.jpg');
}
21%{
	background-image: url('../img/fondo3.jpg');
}

40%{
	background-image: url('../img/fondo1.jpg');
}
41%{
	background-image: url('../img/fondo5.jpg');
}

60%{
	background-image: url('../img/fondo6.jpg');
}
61%{
	background-image: url('../img/articulo5.jpg');
}

80%{
	background-image: url('../img/fondo1.jpg');
}
81%{
	background-image: url('../img/fondo2.jpg');
}

100%{
	background-image: url('../img/fondo5.jpg');
}
}

/*Modules*/
.modules{
	width:100%;
	height:40vh;
	display:flex;
	justify-content:space-around;
	background-color:  #4e4d4c ;
}
.module{
	width:30%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: center;
	transition:.1s ;
	cursor:pointer;
}
.module p{
	padding:0;
	margin:-10px;
	font-size:13px;
}
.module:hover {
	color:white;
	background-color:rgb(0, 128, 0);	
}
.module:hover h2{

color:#fff;
	
}
.module img{
	width:70px;
	height:70px;
	border-radius:50%;
	margin-top:10px;
}
.module h2{
font-size:17px;
}

	.btn:nth-child(1){
						text-decoration: none;
	color: #fff;
	padding: 7px 20px;
	border: 1px solid #fff; 
	text-transform : uppercase;
	transition:.1s;
	}

.btn:hover {
	background-color: #fff;
	color: rgb(128, 0, 128);
}



