<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>
</h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="/menu?faces-redirect=true"
							styleClass="linkBack" />
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
					<div class="item">
						<a id="identificador1" class="sub-btn"> <i
							class="fa fa-floppy-o" aria-hidden="true"></i><span>INVENTARIO</span></a>
					</div>


					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="reportes">
									<i class="pi pi-info-circle"></i>
									<h:outputText value="REPORTES" />
								</h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="utilidades">
									<i class="pi pi-money-bill"></i>
									<h:outputText value="UTILIDADES" />
								</h:commandLink></a>
						</h:form>
					</div>
									
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="precios">
									<i class="pi pi-list"></i>
									<h:outputText value="LISTA DE PRECIOS" />
								</h:commandLink></a>
						</h:form>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->
	<div id="contenedorx" class="contenedor">
		<h:form styleClass="FormularioFactura" id="formFactura">
			

			
		</h:form>


		<h:form styleClass="FormularioDetalle" style="background-color:white"
			id="formInserDetalle">
			
		</h:form>

		<div class="header">
			
		</div>
	</div>


	<div id="contenedory" class="contenedor">
		<article class="menuListaFacturas">

		</article>

		<div class="tablaListar" id="facturasTodas">
			<h:form id="form1">
				<p:dataTable value="#{beanKymsVentas.listaFacturas}" var="fac"
					rowIndexVar="row" emptyMessage="No hay facturas que mostrar">
					<p:column headerText="Nº DE FACTURA">
						<h:outputText value="#{fac.idVenta}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{fac.fecha}" />
					</p:column>
					<p:column headerText="CLIENTE">
						<h:outputText value="#{fac.cliente.nombre}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{fac.estadoVenta}" />
					</p:column>
					<p:column headerText="TOTAL">
						<h:outputText value="#{fac.total}" />
					</p:column>
					<p:column headerText="OPCIONES" style="width:200px;">
						<p:commandButton value="ANULAR" update="@form"
							style="width:86px; font-size:14px; margin-right:10px;text-align:left;">
							<f:ajax event="click" render="form1"
								listener="#{beanKymsVentas.actionListenerAnularFactura(fac)}" />
							<p:confirm header="Confirmación"
								message="¿Desea eliminar el producto?" icon="pi pi-info-circle" />
						</p:commandButton>
						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							responsive="true" width="350">
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no ui-button-flat" />
							<p:commandButton value="Sí" type="button"
								styleClass="ui-confirmdialog-yes" />
						</p:confirmDialog>
						<h:commandButton value="VER" update="@form"
							action="#{beanKymsVentas.actionCargarFactura(fac)}"
							styleClass="btnVerFactura" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<div class="tablaListar" id="facturasPorEstado">
			<h:form styleClass="selectFacturaCliente">
				<label class="labelF1" style="color: #2196F3">Seleccione el
					Estado</label>
				<p:selectOneMenu id="selectFacturaPorEstado" required="true"
					requiredMessage="Seleccione una fecha...">
					<f:selectItem itemLabel="Seleccione la opción" itemValue="true" />
					<f:selectItem itemLabel="Pendiente" itemValue="false" />
					<f:ajax event="change" render="form2"
						execute="selectFacturaPorEstado"
						listener="#{beanKymsVentas.actionListarFacturasByEstado}" />
				</p:selectOneMenu>
			</h:form>

			<h:form id="form2">
				<p:dataTable value="#{beanKymsVentas.listaFacturasPorEstado}"
					var="fac" rowIndexVar="row"
					emptyMessage="No hay facturas que mostrar">
					<p:column headerText="Nº DE FACTURA">
						<h:outputText value="#{fac.idVenta}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{fac.fecha}" />
					</p:column>
					<p:column headerText="FECHA CRÉDITO">
						<h:outputText value="#{fac.fechaPago}" />
					</p:column>
					<p:column headerText="CLIENTE">
						<h:outputText value="#{fac.cliente.nombre}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{fac.estadoVenta}" />
					</p:column>
					<p:column headerText="DEUDA">
						<h:outputText value="#{fac.deudaParcial}" />
					</p:column>
					<p:column headerText="OPCION">
						<p:commandButton id="cmdPagarFactura" value="Cancelar"
							actionListener="#{beanKymsVentas.actionCargarFacturaPagar(fac)}"
							styleClass="ui-button-secondary" />
						<p:overlayPanel for="cmdPagarFactura" dynamic="true"
							styleClass="modalPagarFactura" showCloseIcon="true">
							<p:panel header="Pagar Deuda" style="text-align:center;">
								<h:outputText
									value="Valor de deuda: #{beanKymsVentas.facturaPagar.deudaParcial}"
									id="salida" />
								<p:panelGrid columns="2">
									<h:outputText value="Valor:" />
									<p:inputText value="#{beanKymsVentas.valorPagarFactura}"
										style="width:100%" />
								</p:panelGrid>
								<p:commandButton value="Guardar"
									actionListener="#{beanKymsVentas.actionListenerPagarFactura()}"
									update="@form" style="margin-top:15px;" />
							</p:panel>
						</p:overlayPanel>
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<div class="tablaListar" id="facturasPorFechas">
			<h:form styleClass="selectFacturaFechas">
				<div style="padding: 20px;">
					<label class="labelF1" style="color: #2196F3; margin: 20px 20px;">Fecha
						Inicio</label>
					<p:calendar required="true" />
					<label class="labelF1" style="color: #2196F3; margin: 20px 20px;">Fecha
						Fin</label>
					<p:calendar required="true" />
					<p:commandButton value="Buscar"
						actionListener="#{beanKymsVentas.actionListarFacturasByFechas()}"
						style="margin:0 30px;" />
				</div>

			</h:form>

			<h:form id="form3">
				<p:dataTable value="#{beanKymsVentas.listaFacturasPorFecha}"
					var="fac" rowIndexVar="row"
					emptyMessage="No hay facturas que mostrar">
					<p:column headerText="Nº DE FACTURA">
						<h:outputText value="#{fac.idVenta}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{fac.fecha}" />
					</p:column>
					<p:column headerText="FECHA CRÉDITO">
						<h:outputText value="#{fac.fechaPago}" />
					</p:column>
					<p:column headerText="CLIENTE">
						<h:outputText value="#{fac.cliente.nombre}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{fac.estadoVenta}" />
					</p:column>
					<p:column headerText="TOTAL">
						<h:outputText value="#{fac.total}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

		<div class="tablaListar" id="facturasPorCliente">
			<h:form styleClass="selectFacturaCliente">
				<label class="labelF1" style="color: #2196F3">Seleccione un
					Cliente</label>
				<p:selectOneMenu value="#{beanKymsVentas.buscarCliente}"
					id="selectFacturaCliente">
					<f:selectItems value="#{beanKymsVentas.listaClientes}" var="c"
						itemLabel="#{c.nombre}" itemValue="#{c.idCliente}"></f:selectItems>
					<f:ajax event="change" render="form4"
						execute="selectFacturaCliente"
						listener="#{beanKymsVentas.actionListarFacturasByCliente}" />
				</p:selectOneMenu>

			</h:form>

			<h:form id="form4">
				<p:dataTable value="#{beanKymsVentas.listaFacturasPorCliente}"
					var="fac" rowIndexVar="row"
					emptyMessage="No hay facturas que mostrar">
					<p:column headerText="Nº DE FACTURA">
						<h:outputText value="#{fac.idVenta}" />
					</p:column>
					<p:column headerText="CLIENTE">
						<h:outputText value="#{fac.cliente.nombre}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{fac.estadoVenta}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{fac.fechaPago}" />
					</p:column>
					<p:column headerText="DEUDA">
						<h:outputText value="#{fac.deudaParcial}" />
					</p:column>
					<p:column headerText="TOTAL">
						<h:outputText value="#{fac.total}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</div>

	</div>

	<div id="contenedorz" class="contenedor">
		<div class="tablaListar" id="facturasPoraDevolver">
			<h2 style="position: absolute; margin: -60px 0 0 250px">Lista de
				Facturas que podría ser devueltos</h2>
			<h:form>
				<p:dataTable value="#{beanKymsVentas.listaFacturasParaDevolver }"
					var="fac" rowIndexVar="row"
					emptyMessage="No hay facturas que mostrar">
					<p:column headerText="Nº DE FACTURA">
						<h:outputText value="#{fac.idVenta}" />
					</p:column>
					<p:column headerText="FECHA">
						<h:outputText value="#{fac.fecha}" />
					</p:column>
					<p:column headerText="CLIENTE">
						<h:outputText value="#{fac.cliente.nombre}" />
					</p:column>
					<p:column headerText="ESTADO">
						<h:outputText value="#{fac.estadoVenta}" />
					</p:column>
					<p:column headerText="TOTAL">
						<h:outputText value="#{fac.total}" />
					</p:column>
					<p:column headerText="OPCIONES">
						<p:commandButton value="Devolución" update="@form"
							action="#{beanKymsVentas.actionSelectFacturaDevolucion(fac)}" />
					</p:column>
				</p:dataTable>
			</h:form>

		</div>
	</div>




	<script>
    let modalPerfil = document.getElementById("perfil");
    let modalCreate = document.querySelectorAll(".createFactura")[0];
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";
	    document.getElementById("contenedorz").style.display = "none";

	    //Lista de facturas
	    document.getElementById("facturasTodas").style.display = "block";
	    document.getElementById("facturasPorEstado").style.display = "none";
	    document.getElementById("facturasPorFechas").style.display = "none";
	    document.getElementById("facturasPorCliente").style.display = "none";
	    document.getElementById("facturasPoraDevolver").style.display = "block"; //resolver este problema
        }
    


    //==========CONTENEDORES =================
		document.getElementById("identificador1").addEventListener("click", function () {
		    document.getElementById("contenedory").style.display = "none";
		    document.getElementById("contenedorx").style.display = "block";
		}, null);

		document.getElementById("identificador2").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedory").style.display = "block";
		}, null);	

		document.getElementById("identificador3").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedory").style.display = "none";
		    document.getElementById("contenedorz").style.display = "block";
		}, null);	
					
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});

		//================= LISTA DE FACTURAS ===============
		document.getElementById("lista1").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "block";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista2").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "block";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista3").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "block";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista4").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "block";
		});	
		
	</script>

</body>
</html>


