<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Facturación de Orden de Compra</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>
</h:head>
<style>
.headerProforma {
	width: 100%;
	display: flex;
	justify-content: around;
	margin-top: -50px;
	padding-left: 100px;
}
</style>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack" />
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->
	<div id="contenedorx" class="contenedor">
		<span class="numFactura"><b>Num Factura :</b> <h:outputText
				value="  #{beanKymsEntradas.numFactura}" /></span>
		<article class="headerFactura"> <h:form>
			<section class="cliente"> <h:outputLabel
				class="informacionCliente" id="client">
				<article> <span><b>Identificación:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.identificacion}" /></span>
				<span><b>Nombre:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.nombre} #{beanKymsEntradas.proformFacturar.proveedor.apellido}" /></span>
				</article>

				<article> <span><b>Teléfono:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.telefono}" /></span>
				<span><b>Ciudad:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.ciudad}" /></span>
				</article>

				<article> <span><b>Dirección:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.direccionn}" /></span>
				<span><b>Correo:</b> <h:outputText
						value=" #{beanKymsEntradas.proformFacturar.proveedor.correo}" /></span>
				</article>
			</h:outputLabel> </section>

			<section class="pagos"> <article style=" width:31%">
			<div>
				<label class="labelF1" style="display: block;">Tipo de Pago</label>
				<p:selectOneMenu value="#{beanKymsEntradas.idTipoPago}"
					required="true" id="selectFecha" styleClass="select"
					requiredMessage="Seleccione un pago..." style="width:57%;">
					<f:selectItems value="#{beanKymsEntradas.listaTipoPagos}" var="p"
						itemLabel="#{p.descripcion}" itemValue="#{p.idTipoPago}"></f:selectItems>
					<f:ajax event="change" render="calendar" execute="selectFecha"
						listener="#{beanKymsEntradas.handleChange}" />
				</p:selectOneMenu>
			</div>

			<div>
				<label class="labelF1" style="display: block;">Fecha para
					Pago</label>
				<p:calendar required="true" value="#{beanKymsEntradas.fechPago}"
					disabled="#{beanKymsEntradas.pagoSeleccionado}" id="calendar" />
			</div>
			</article> <article style="width:31%">
			<div>
				<label class="labelF1" style="display: block;">Método de
					Pago</label>
				<p:selectOneMenu value="#{beanKymsEntradas.idMetodoPago}"
					required="true" requiredMessage="Seleccione un pago..."
					style="width:75%;">
					<f:selectItems value="#{beanKymsEntradas.listaMetodoPagos}" var="p"
						itemLabel="#{p.descripcion}" itemValue="#{p.idMetodoPago}"></f:selectItems>
				</p:selectOneMenu>
			</div>
			</article> <article style=" width:31%"> <h:commandButton
				value="Registrar Factura" action="ordenCompra"
				actionListener="#{beanKymsEntradas.actionListenerRegistrarProformaParaFacturar()}"
				update="@form,:totales,:tablaProductos"
				styleClass="btnRegistrarFactura" style="margin:-400px 0 0 60px" />
			</article> </section>
		</h:form> <h:form id="totales" styleClass="totales">
			<span><b>Sutotal:</b> <h:outputText
					value=" #{beanKymsEntradas.subtotalFactura}" /></span>
			<span><b>Iva:</b> <h:outputText
					value=" #{beanKymsEntradas.IVAFactura}" /></span>
			<span><b style="color: red;">Total:</b> <h:outputText
					value=" #{beanKymsEntradas.totalFactura}" /></span>
		</h:form> </article>

		<div class="showListDetalles"
			style="margin: -80px 0 0 13%; width: 100%;">
			<p:panel>
				<h:form id="tablaProductos" styleClass="ListaDetalles">
					<p:dataTable
						value="#{beanKymsEntradas.proformFacturar.detalleOrdenCompras}"
						var="det" rowIndexVar="row"
						emptyMessage="No hay detalle de proforma que mostrar">
						<p:column headerText="PRODUCTO">
							<h:outputText value="#{det.producto.descripcion}" />
						</p:column>
						<p:column headerText="CANTIDAD">
							<h:outputText value="#{det.cantidad}" />
						</p:column>
						<p:column headerText="PRECIO">
							<h:outputText value="#{det.producto.precio}" />
						</p:column>
						<p:column headerText="TOTAL">
							<h:outputText value="#{det.precio}" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</div>

	</div>

	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
   
					
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});

	
	</script>

</body>
</html>


