<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home Entradas</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />


	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>
</h:head>
<style>
*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden
}

.contenedorVentas {
	background:
		url("https://www.lideco.com/lideco/images/newsletter/Abril2017/NSL6_Factura_Titulo_Ejecutivo_Slider.jpg");
	background-size: cover;
	margin-top: -70px;
}
</style>
<body>

	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="/menu?faces-redirect=true"
							styleClass="linkBack" />
					</h:form>
				</span>
			</div>

			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>


					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="factura">
									<i class="pi pi-shopping-cart"></i>
									<h:outputText value="Facturación Compras" />
								</h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="ordenCompra">
									<i class="pi pi-shopping-cart"></i>
									<h:outputText value="Orden de compra" />
								</h:commandLink></a>
						</h:form>
					</div>



					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="proveedor">
									<i class="pi pi-users"></i>
									<h:outputText value="Proveedores" />
								</h:commandLink></a>
						</h:form>
					</div>
					
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="producto">
									<i class="pi pi-shopping-cart"></i>
									<h:outputText value="Productos" />
								</h:commandLink></a>
						</h:form>
					</div>

					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="marca">
									<i class="pi pi-amazon"></i>
									<h:outputText value="Marcas" />
								</h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="categoria">
									<i class="pi pi-tag"></i>
									<h:outputText value="Categorías" />
								</h:commandLink></a>
						</h:form>
					</div>
					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="subcategoria">
									<i class="pi pi-tags"></i>
									<h:outputText value="Subcategorías" />
								</h:commandLink></a>
						</h:form>
					</div>


					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="clasificacion">
									<i class="pi pi-th-large"></i>
									<h:outputText value="Clasificación" />
								</h:commandLink></a>
						</h:form>
					</div>

					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="tipoproducto">
									<i class="pi pi-microsoft"></i>
									<h:outputText value="Tipo de producto" />
								</h:commandLink></a>
						</h:form>
					</div>

					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="listaprecio">
									<i class="pi pi-list"></i>
									<h:outputText value="Lista de precios" />
								</h:commandLink></a>
						</h:form>
					</div>

					<div class="item">
						<h:form>
							<a class="sub-btn"><h:commandLink action="unidad">
									<i class="pi pi-sliders-v"></i>
									<h:outputText value="Unidades de Medida" />
								</h:commandLink></a>
						</h:form>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->





	<script>
    let modalPerfil = document.getElementById("perfil");
    let modalCreate = document.querySelectorAll(".createFactura")[0];
    window.onload=iniciar;

    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";
	    document.getElementById("contenedorz").style.display = "none";

	    //Lista de facturas
	    document.getElementById("facturasTodas").style.display = "block";
	    document.getElementById("facturasPorEstado").style.display = "none";
	    document.getElementById("facturasPorFechas").style.display = "none";
	    document.getElementById("facturasPorCliente").style.display = "none";
	    document.getElementById("facturasPoraDevolver").style.display = "block"; //resolver este problema
        }
    


    //==========CONTENEDORES =================
		document.getElementById("identificador1").addEventListener("click", function () {
		    document.getElementById("contenedory").style.display = "none";
		    document.getElementById("contenedorx").style.display = "block";
		}, null);

		document.getElementById("identificador2").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedory").style.display = "block";
		}, null);	

		document.getElementById("identificador3").addEventListener("click", function () {
		    document.getElementById("contenedorx").style.display = "none";
		    document.getElementById("contenedory").style.display = "none";
		    document.getElementById("contenedorz").style.display = "block";
		}, null);	
					
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});

		//================= LISTA DE FACTURAS ===============
		document.getElementById("lista1").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "block";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista2").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "block";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista3").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "block";
		    document.getElementById("facturasPorCliente").style.display = "none";
		});	
		document.getElementById("lista4").addEventListener("click", function (e) {
			e.preventDefault();
		    document.getElementById("facturasTodas").style.display = "none";
		    document.getElementById("facturasPorEstado").style.display = "none";
		    document.getElementById("facturasPorFechas").style.display = "none";
		    document.getElementById("facturasPorCliente").style.display = "block";
		});	
		
	</script>

</body>
</html>


