<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Ver Proforma</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />
	<link href="./style-ventas.css" rel="stylesheet" type="text/css" />


	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/81d408a6bf.js"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>
</h:head>
<body>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="ordenCompra" styleClass="linkBack" />
					</h:form>
				</span>
			</div>


			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>


	<!-- CONTENEDORES -->
	<div id="contenedor" class="contenedor">
		<h:form>
			<p:commandButton
				actionListener="#{beanKymsEntradas.GenerarPDFProforma()}"
				icon="pi pi-download" style="margin-left:75%" />
		</h:form>

		<div class="modeloFactura" style="height: 600px;">
			<article class="F1">
			<div>PROFORMA</div>
			<div>KYM'S</div>
			</article>

			<article class="F2">
			<div>
				<span>Ferreteria Kym's</span> <span>Cotacachi 23-14</span> <span>ferryKyms@gmail.com</span><span>Telf:
					0985802375</span>
			</div>
			<div>
				<section> <span>Fecha</span> <h:outputText
					value="#{beanKymsEntradas.proformVer.fecha}" /> </section>
				<section> <span>Nro Proforma</span> <h:outputText
					value="#{beanKymsEntradas.proformVer.numOrdenCompra}" /></section>
			</div>
			</article>
			
			
			<article class="F3"> <span class="clientes">Proveedor</span>
			<div>
				<section> <span>Nombre:<h:outputText
						value=" #{beanKymsEntradas.proformVer.proveedor.nombre} #{beanKymsEntradas.proformVer.proveedor.apellido}" /></span>
				<span>Cédula: <h:outputText
						value=" #{beanKymsEntradas.proformVer.proveedor.identificacion}" /></span> </section>
				<section> <span>Dirección:<h:outputText
						value=" #{beanKymsEntradas.proformVer.proveedor.direccionn}" /></span> <span>Telefono:<h:outputText
						value=" #{beanKymsEntradas.proformVer.proveedor.telefono}" /></span> </section>
			</div>
			</article>

			<article class="F4">
			<div class="container-table">
				<table class="default">
					<thead>
						<tr>
							<th>DESCRIPCIÓN</th>
							<th>CANTIDAD</th>
							<th>PRECIO UNIT</th>
							<th>TOTAL</th>
						</tr>
					</thead>
					<tbody>
						<c:forEach items="#{beanKymsEntradas.proformVer.detalleOrdenCompras}"
							var="dt">
							<tr>
								<td><h:outputText value="#{dt.producto.descripcion}" /></td>
								<td><h:outputText value="#{dt.cantidad}" /></td>
								<td><h:outputText value="#{dt.producto.precioVenta}" /></td>
								<td><h:outputText value="#{dt.precio}" /></td>
							</tr>
						</c:forEach>
					</tbody>
				</table>
			</div>
			</article>

			<article class="F5">
			<div>
				<span>Sutotal:<h:outputText
						value=" #{beanKymsEntradas.subtotalFactura}" /></span> <span>Iva:<h:outputText
						value=" #{beanKymsEntradas.IVAFactura}" /></span> <span>Descuento:<h:outputText
						value=" #{beanKymsEntradas.proformVer.impuesto}" /></span> <span><b>Total:</b>
					<h:outputText value=" #{beanKymsEntradas.proformVer.total}" /> $</span>
			</div>
			</article>

			<p style="position: relative; margin-top: 50px">Obserservaciones/Instrucciones
				de pago</p>
		</div>
	</div>




	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
        document.getElementById("contenedor").style.display = "block";
        }
    
				
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
</body>
</html>


