<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Control</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>

	<style>
:root { -
	-colorTextos: #49454567;
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedorControl{
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-around;
	margin-top:30px;

}
.formulario {
	width: 330px;
	height: 350px;
	padding: 5px 0;
	border-radius: 10px;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}
.formulario h3 {
	text-align:center;
}

.form {
	width: 100%;
	margin: auto;
}

form .grupo {
	position: relative;
	margin: 40px;
}

form .grupo p{
	position:absolute;
	margin:-20px 0 0 90%
}

.input {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 80%;
	border: none;
	border-bottom:1px solid gray;
	resize: none;
}

.input:focus {
	outline: none;
	color: rgb(94, 93, 93);
}

.input:focus ~label, .input:valid ~label {
	position: absolute;
	top: -14px;
	font-size: 14px;
	color: #2196F3;
}

.label {
	color: var(- -colorTextos);
	font-size: 18px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease all;
	pointer-events: none;
}

.input:focus ~.barra::before {
	width: 80%;
}

.barra {
	position: relative;
	display: block;
	width: 100%;
}

.barra::before {
	content: '';
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: green;
	transition: 0.3s ease all;
	left: 0%;
}



.btn {
	background-color: #348ac6;
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
	margin: 10px auto;
	cursor: pointer;
	letter-spacing: 2px;
	transition:0.3s;
}

.btn:hover {
	background-color: #4e99cc;
}
.labelF1 {
	position: relative;
	color: #2196F3;
	font-size: 15px;
	top: 0;
	left: 15px;
}
.informacionProducto{
	width:400px;
	padding:10px;
	height:350px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.table {
	width: 94%;
	margin-top: 50px;

}
.modalActualizarPago {
	margin-left: -280px;
	margin-right: 80px;
	width:500px;
	height:250px;
}
</style>
</h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack" />
					</h:form>
				</span>
			</div>


			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
					<div class="item">
						<a id="identificador1" class="sub-btn"> <i class="fa fa-floppy-o" aria-hidden="true"></i><span>Modificar Precio</span></a>
					</div>
					<div class="item">
						<a id="identificador2" class="sub-btn"> <i class="fa fa-floppy-o" aria-hidden="true"></i><span>Ajustar Utilidad</span></a>
					</div>
					<div class="item">
						<a id="identificador3" class="sub-btn"> <i class="fa fa-floppy-o" aria-hidden="true"></i><span>Ajustar Descuento</span></a>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->

	<div id="contenedorx" class="contenedor">
	
	<article class="contenedorControl">
		<h3 style="text-align: center;position:absolute;margin-top:-40px;">Modificar Precio de Producto</h3>
		<h:form styleClass="formulario" id="form">
				<div class="form">
					<div class="grupo">
						<label class="labelF1">Buscar un Producto</label>
						<p:autoComplete id="ddProducto" dropdown="true" value="#{beanKymsControl.descripcionProducto}" completeMethod="#{beanKymsControl.completeTextProducto}" scrollHeight="250" style="width:400px">
					    <f:ajax event="change" render="mostrarStock1" execute="ddProducto" listener="#{beanKymsControl.MostrarStock}"/>
				         </p:autoComplete>
						
					</div>
				<div class="grupo">
					<h:inputText value="#{beanKymsControl.valorPrecioVenta}" 	requiredMessage="Ingrese el precio del producto"  validatorMessage="Invalid format Decimal" styleClass="input" required="true">
						<f:validateRegex pattern="^[0-9]+([.][0-9]+)?$" />
					</h:inputText> <p>$</p>
					<span class="barra"></span> <label>Nuevo precio de Venta</label>
				</div>
	
					<div class="grupo">
						<p:commandButton value="Guardar"  actionListener="#{beanKymsControl.actionListenerAjustarPrecio}" update="@form, :mostrarStock1" style="margin-left:30%"/>
					</div>
				</div>
		</h:form>
	
		   <h:form class="informacionProducto" id="mostrarStock1">
					<span><b>Producto :</b> <h:outputText value="  #{beanKymsControl.productoSeleccionado.descripcion}" /></span>
					<span><b>Precio : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precio}" /></span>
					<span><b>Precio Venta : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precioVenta}" /></span>
			</h:form>
		
		</article>
	
	</div>


	<div id="contenedory" class="contenedor">
			<article class="contenedorControl">
		<h3 style="text-align: center;position:absolute;margin-top:-40px;">Ajustar utilidad por Producto</h3>
		<h:form styleClass="formulario" id="form2">
				<div class="form">
					<div class="grupo">
						<label class="labelF1">Buscar un Producto</label>
						<p:autoComplete id="ddProducto2" dropdown="true" value="#{beanKymsControl.descripcionProducto}" completeMethod="#{beanKymsControl.completeTextProducto}" scrollHeight="250" style="width:400px">
					    <f:ajax event="change" render="mostrarStock2" execute="ddProducto2" listener="#{beanKymsControl.MostrarStock}"/>
				         </p:autoComplete>
						
					</div>
					
				<div class="grupo">
					<h:inputText value="#{beanKymsControl.porcentajeUtilidad}" 	requiredMessage="Ingrese el tipo de pago"  validatorMessage="Invalid format Decimal" styleClass="input" required="true">
						<f:validateRegex pattern="^[0-9]+([.][0-9]+)?$" />
					</h:inputText>  <p>%</p>
					<span class="barra"></span> <label>Ingrese el porcentaje de utilidad</label>
				</div>
					
	
					<div class="grupo">
						<p:commandButton value="Guardar"  actionListener="#{beanKymsControl.actionListenerAjustarUtilidad}" update="@form, :mostrarStock2" style="margin-left:30%"/>
					</div>
				</div>
		</h:form>
	
			<h:form class="informacionProducto" id="mostrarStock2">
					<span><b>Producto :</b> <h:outputText value="  #{beanKymsControl.productoSeleccionado.descripcion}" /></span>
					<span><b>Precio : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precio}" /></span>
					<span><b>Precio Venta : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precioVenta}" /></span>
					<span><b>Utilidad : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.utilidad}" /></span>
			</h:form>
		</article>
	</div>
	
		<div id="contenedorz" class="contenedor">
			<article class="contenedorControl">
		<h3 style="text-align: center;position:absolute;margin-top:-40px;">Ajustar Descuento por Producto</h3>
		<h:form styleClass="formulario" id="form3">
				<div class="form">
					<div class="grupo">
						<label class="labelF1">Buscar un Producto</label>
						<p:autoComplete id="ddProducto3" dropdown="true" value="#{beanKymsControl.descripcionProducto}" completeMethod="#{beanKymsControl.completeTextProducto}" scrollHeight="250" style="width:400px">
					    <f:ajax event="change" render="mostrarStock3" execute="ddProducto3" listener="#{beanKymsControl.MostrarStock}"/>
				         </p:autoComplete>
						
					</div>
					
					<div class="grupo">
						<h:inputText value="#{beanKymsControl.porcentajeDescuento}" requiredMessage="Ingrese el tipo de pago"  validatorMessage="Invalid format Decimal" styleClass="input" required="true">
							<f:validateRegex pattern="^[0-9]+([.][0-9]+)?$" />
						</h:inputText> <p>%</p>
						<span class="barra"></span> <label>Ingrese el porcentaje de descuento</label>
				    </div>
					
	
					<div class="grupo">
						<p:commandButton value="Guardar"  actionListener="#{beanKymsControl.actionListenerAjustarDescuento}" update="@form, :mostrarStock3" style="margin-left:30%"/>
					</div>
				</div>
		</h:form>
	
			<h:form class="informacionProducto" id="mostrarStock3">
					<span><b>Producto :</b> <h:outputText value="  #{beanKymsControl.productoSeleccionado.descripcion}" /></span>
					<span><b>Precio : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precio}" /></span>
					<span><b>Precio Venta : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.precioVenta}" /></span>
					<span><b>Utilidad : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.utilidad}" /></span>
				    <span><b>Descuento : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.descuento}" /></span>
			</h:form>
		</article>
	</div>
	

	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;
    
    function iniciar(){
    	document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";
	    document.getElementById("contenedorz").style.display = "none";
        }
    
    //==========CONTENEDORES =================
	document.getElementById("identificador1").addEventListener("click", function () {
	    document.getElementById("contenedorx").style.display = "block";
	    document.getElementById("contenedory").style.display = "none";
	    document.getElementById("contenedorz").style.display = "none";
	}, null);

	document.getElementById("identificador2").addEventListener("click", function () {
	    document.getElementById("contenedorx").style.display = "none";
	    document.getElementById("contenedory").style.display = "block";
	    document.getElementById("contenedorz").style.display = "none";
	}, null);	

	document.getElementById("identificador3").addEventListener("click", function () {
	    document.getElementById("contenedorx").style.display = "none";
	    document.getElementById("contenedory").style.display = "none";
	    document.getElementById("contenedorz").style.display = "block";
	}, null);
	
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
</body>
</html>


