<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Control Stock</title>
	<link href="../../public/css/dashboard.css" rel="stylesheet"
		type="text/css" />

	<f:metadata>
		<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
			type="preRenderView"></f:event>
	</f:metadata>

	<style>
:root { -
	-colorTextos: #49454567;
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedorControl{
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-around;
	margin-top:30px;

}
.formulario {
	width: 330px;
	height: 350px;
	padding: 5px 0;
	border-radius: 10px;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}
.formulario h3 {
	text-align:center;
}

.form {
	width: 100%;
	margin: auto;
}

form .grupo {
	position: relative;
	margin: 35px;
}

.labelF1 {
	position: relative;
	color: #2196F3;
	font-size: 15px;
	top: 0;
	left: 15px;
}
.btn {
	background-color: #348ac6;
	display: block;
	width: 150px;
	height: 40px;
	border: none;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
	margin: 10px auto;
	cursor: pointer;
	letter-spacing: 2px;
	transition:0.3s;
}

.btn:hover {
	background-color: #4e99cc;
}

.informacionProducto{
	width:400px;
	padding:10px;
	height:350px;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
  	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.table {
	width: 94%;
	margin-top: 50px;

}
.modalActualizarPago {
	margin-left: -280px;
	margin-right: 80px;
	width:500px;
	height:250px;
}
</style>
</h:head>

<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<!-- Dashboard -->
	<div class="wrapper">
		<article class="manager">
		<div id="open-perfil">
			<img src="../../public/img/user.jpg"
				style="background-color: red; border-radius: 50%;" />
		</div>
		</article>

		<div class="sidebar">
			<div class="regresar">
				<i class="fa fa-chevron-left" aria-hidden="true"></i> <span>
					<h:form>
						<h:commandLink value="back" action="menu" styleClass="linkBack" />
					</h:form>
				</span>
			</div>


			<div class="sidebar-menu">
				<div class="profile">
					<img src="../../public/img/user.jpg" />
					<p>
						<h:outputText value="#{beanSegLogin.loginDTO.correo}" />
					</p>
				</div>

				<ul>
					<div class="item">
						<a id="identificador1" class="sub-btn"> <i class="fa fa-user" aria-hidden="true"></i><span>Modificar Stock</span></a>
					</div>
					<div class="item">
						<a id="identificador2" class="sub-btn"> <i class="fa fa-users"></i><span>Ajuste Stock Min Max</span></a>
					</div>
				</ul>
			</div>
		</div>
	</div>


	<!-- Modal Perfil -->
	<div class="perfil-content">
		<div id="perfil" title="close">
			<div class="perfil-superior">
				<div>Ferretería KYM'S</div>
				<div id="close">
					<h:form>
						<h:commandLink value="Cerrar Sesión"
							action="#{beanSegLogin.actionCerrarSesion()}"
							styleClass="loginClose" />
					</h:form>
				</div>
			</div>

			<div class="perfil-inferior">
				<img src="../../public/img/user.jpg"
					style="background-color: white; border-radius: 50%;" />
				<div class="datos">
					<b><span><h:outputText
								value="#{beanSegLogin.loginDTO.nombre} #{beanSegLogin.loginDTO.apellido}" /></span></b>
					<span><h:outputText value="#{beanSegLogin.loginDTO.correo}" /></span>
					<span>0985601235</span>
				</div>
			</div>

		</div>
	</div>

	<!-- CONTENEDORES -->

	<div id="contenedorx" class="contenedor">
	
	<article class="contenedorControl">
		<h3 style="text-align: center;position:absolute;margin-top:-40px;">Modificar Stock</h3>
		<h:form styleClass="formulario" id="form">
				<div class="form">
					<div class="grupo">
						<label class="labelF1">Buscar un Producto</label>
						<p:autoComplete id="ddProducto" dropdown="true" value="#{beanKymsControl.descripcionProducto}" completeMethod="#{beanKymsControl.completeTextProducto}" scrollHeight="250" style="width:400px">
					    <f:ajax event="change" render="mostrarStock1" execute="ddProducto" listener="#{beanKymsControl.MostrarStock}"/>
				         </p:autoComplete>
						
					</div>
			
					<div class="grupo">
						<label  class="labelF1"  style="display:block">Cantidad</label>
						<p:spinner value="#{beanKymsControl.cantidad}" required="true" requiredMessage="Ingrese la cantidad de de producto" min="1"/>			
					</div>
				
				
                    	<div  class="grupo">
							<p:selectOneRadio value="#{beanKymsControl.modificarStock}" style="text-align:center;">
							       <f:selectItem itemLabel="Aumento" itemValue="true"/>
						           <f:selectItem itemLabel="Reducción" itemValue="false"/>
							</p:selectOneRadio>
						</div>
					
	
					<div class="grupo">
						<p:commandButton value="Guardar"  actionListener="#{beanKymsControl.actionListenerGuardarModificacionStock}" update="@form, :mostrarStock1" style="margin-left:30%"/>
					</div>
				</div>
		</h:form>
	
		   <h:form class="informacionProducto" id="mostrarStock1">
					<span><b>Producto :</b> <h:outputText value="  #{beanKymsControl.productoSeleccionado.descripcion}" /></span>
					<span><b>Stock : </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.stock}" /></span>
			</h:form>
		
		</article>
	
	</div>


	<div id="contenedory" class="contenedor">
			<article class="contenedorControl">
		<h3 style="text-align: center;position:absolute;margin-top:-40px;">Modificar Stock Máximo Mínimo</h3>
		<h:form styleClass="formulario" id="form2">
				<div class="form">
					<div class="grupo">
						<label class="labelF1">Buscar un Producto</label>
						<p:autoComplete id="ddProducto2" dropdown="true" value="#{beanKymsControl.descripcionProducto}" completeMethod="#{beanKymsControl.completeTextProducto}" scrollHeight="250" style="width:400px">
					    <f:ajax event="change" render="mostrarStock2" execute="ddProducto2" listener="#{beanKymsControl.MostrarStock}"/>
				         </p:autoComplete>
						
					</div>
					
					<div class="grupo">
						<label  class="labelF1"  style="display:block">Cantidad</label>
						<p:spinner value="#{beanKymsControl.cantidad}" required="true" requiredMessage="Ingrese la cantidad de de producto" min="1"/>			
					</div>
				
				
                    	<div  class="grupo">
							<p:selectOneRadio value="#{beanKymsControl.ajusteStockMaxMin}" style="text-align:center;">
							       <f:selectItem itemLabel="Stock Máximo" itemValue="true"/>
						           <f:selectItem itemLabel="Stock Mínimo" itemValue="false"/>
							</p:selectOneRadio>
						</div>
					
	
					<div class="grupo">
						<p:commandButton value="Guardar"  actionListener="#{beanKymsControl.actionListenerGuardarAjusteStockMaxMin}" update="@form, :mostrarStock2" style="margin-left:30%"/>
					</div>
				</div>
		</h:form>
	
			<h:form class="informacionProducto" id="mostrarStock2">
					<span><b>Producto:</b> <h:outputText value="#{beanKymsControl.productoSeleccionado.descripcion}" /></span>
					<span><b>Stock: </b><h:outputText value=" #{beanKymsControl.productoSeleccionado.stock}" /></span>
					<span><b>Stock Máximo:</b> <h:outputText value=" #{beanKymsControl.productoSeleccionado.stockMaximo}" /></span>
					<span><b>Stock Mínimo:</b> <h:outputText value=" #{beanKymsControl.productoSeleccionado.stockMinimo}" /></span>
			
			</h:form>
		</article>
	</div>
	
	<script>
    let modalPerfil = document.getElementById("perfil");
    window.onload=iniciar;

    function iniciar(){
        document.getElementById("contenedorx").style.display = "block";
        document.getElementById("contenedory").style.display = "none";

        }

	/*========contenedores=========*/
	document.getElementById("identificador1").addEventListener("click",function(){
		  document.getElementById("contenedorx").style.display = "block";
	      document.getElementById("contenedory").style.display = "none";
	});

	document.getElementById("identificador2").addEventListener("click",function(){
		  document.getElementById("contenedorx").style.display = "none";
	      document.getElementById("contenedory").style.display = "block";
	});

	
		/*========perfil=========*/
		document.getElementById("open-perfil").addEventListener("click",function(){
		    if(modalPerfil.title=="close"){
		    	  modalPerfil.style.display="block";
		          modalPerfil.title="open";
		     }else{
		        modalPerfil.style.display="none";
		        modalPerfil.title="close";
		     }
		});
	</script>
</body>
</html>


